@import "~bootstrap/scss/bootstrap";

//Break Points to be added as the frame work progress

$app-primary: #5C5A61;
$app-secondary: #8C807D;
$app-grey: #B39488;
$app-grey-light: #E4EBF2;
$app-grey-dark: #262626;

$app-spacing-x-small: 8px;
$app-spacing-small: 8px;
$app-spacing-medium: 16px;
$app-spacing-large: 20px;
$app-spacing-x-large: 28px;
$app-spacing-xx-large: 36px;

$app-font-small: 500;
$app-font-bold: 600;
$app-font-x-bold: 800;

$app-font-size-x-small: 4px;
$app-font-size-small: 8px;
$app-font-size-medium: 16px;
$app-font-size-large: 20px;
$app-font-size-x-large: 28px;
$app-font-size-xx-large: 36px;





